<strong>Bem-vindo á Gympoint, {{ student }}!</strong>
<p>Segue abaixo algumas informações sobre seu plano:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Preço: </strong> {{ price }} <br />
  <strong>Parcelado em: </strong> {{ parcel }} <br />
  <strong>Data de vencimento: </strong> {{ end_date }} <br />
  <br />
</p>
